<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular Js</title>
    <link rel="stylesheet" href="exp8.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
      var app1 = angular.module("CalculatorApp", []);
      app1.controller("CalCntrl", function ($scope) {
        $scope.result = function () {
          if ($scope.operator === "+") {
            return $scope.n1 + $scope.n2;
          }
          if ($scope.operator === "-") {
            return $scope.n1 - $scope.n2;
          }
          if ($scope.operator === "*") {
            return $scope.n1 * $scope.n2;
          }
          if ($scope.operator === "/") {
            return $scope.n1 / $scope.n2;
          }
        };
      });
    </script>
  </head>
  <body>
    <div ng-app="CalculatorApp" ng-controller="CalCntrl">
      <center><h1>Simple programs using Angular Js</h1></center>
      <h2>Simple Calculator</h2>
      <p><input type="number" ng-model="n1" /></p>
      <p><input type="number" ng-model="n2" /></p>
      <p>
        <select ng-model="operator">
          <option>+</option>
          <option>-</option>
          <option>*</option>
          <option>/</option>
        </select>
      </p>
      <h3><p>Result: {{result()}}</p></h3>
    </div>
  </body>
</html>
