<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
      var app2 = angular.module("todoApp", []);
      app2.controller("todoController", function ($scope) {
        $scope.tasks = [];
        $scope.add = function () {
          $scope.tasks.push($scope.items);
        };
      });
    </script>
  </head>
  <body>
    <h2>To-Do List</h2>
    <div ng-app="todoApp" ng-controller="todoController">
      <input ng-model="items" />
      <button ng-click="add()">ADD</button>
      <ul>
        <li ng-repeat="x in tasks"><p>{{x}}</p></li>
      </ul>
    </div>
  </body>
</html>
